.exercise-details{padding: 20px ; background: #fff;}
.time-calc,.break-time{display: flex; align-items: center; background-color: #e5e8f0; padding: 10px; border-radius: 5px; justify-content: space-between;}
.time-calc p,.break-time p{color: #9fa1a5;}