.user-pro-com{padding: 20px ; background: #fff;}
.user-pro,.body-info{ display: flex; align-items: center; background-color: #e5e8f0; padding: 10px; border-radius: 5px;}
.body-info h3{margin-bottom: 5px; text-align: center;}
.body-info p{font-size: 15px; font-weight: 600;  color: rgb(104, 101, 101); text-align: center;}
.user-pro img{margin-right:10px; width: 50px;border-radius: 50px; border: 2px #FF9045 solid;}
.user-pro-com .user-info h4{color: #FF9045;}
.user-pro-com p{font-size: 10px; color: rgb(67, 64, 64);}
.body-info,.time-calc{justify-content: space-between;margin-top: 30px; margin-bottom: 30px;}
.body-info .kg{font-size: 11px; color: rgb(104, 101, 101);}
.body-info .s{font-size: 14px; color: rgb(104, 101, 101);}
.s10{ border-radius: 50px; padding: 10px 6px;}
.active-brack{background:#FF9045 ; color: #F2F4FA; }
.active-brack .s{color: #F2F4FA;} 


/* Exercise Details */