
.single-card-com{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.card{
    padding: 20px;
    background-color:#ffff;
    border-radius: 12px;
    box-shadow: rgb(190, 186, 186) 1px 1px 8px;
    transition-duration: .5s;
}
.card:hover{
    box-shadow: rgb(190, 186, 186) 5px 5px 8px;
    transition-duration: .5s;
    margin: -3px 0 3px;
}
.single-card-com img{
    width: 100%;
    border-radius: 10px;
}
.card-contain{
    background-color:#ffff;
}
.card-contain .name{
    margin: 5px 0;
}
.card-contain .des{
    color: rgb(89 82 82);
    font-size: 14px;
    line-height: 17px;
}
.card-contain .age{
    margin: 5px 0 10px;
    font-size: 14px;
}
.card-contain .time{
    font-size: 14px;
}
.card-contain button{
    margin-top:10px;
    width: 100%;
    background-color: #FF9045;
    text-align: center;
    border: 0;
    border-radius: 5px;
    padding: 7px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}